# Spring profile
SPRING_PROFILES_ACTIVE=prod

# PostgreSQL config
POSTGRES_USER=
POSTGRES_PASSWORD=

# Vocabulary database
VOCABULARY_SERVICE_DB_NAME=vocabulary_db
VOCABULARY_SERVICE_DB_HOST=vocabulary-db
VOCABULARY_SERVICE_DB_PORT=5432

# User vocabulary database
USER_VOCABULARY_SERVICE_DB_NAME=user_vocabulary_db
USER_VOCABULARY_SERVICE_DB_HOST=user-vocabulary-db
USER_VOCABULARY_SERVICE_DB_PORT=5432

# Test database
TEST_SERVICE_DB_NAME=test_db
TEST_SERVICE_DB_HOST=test-db
TEST_SERVICE_DB_PORT=5432

# Cloudinary
CLOUDINARY_URL=