#IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

#Maven
target/
!.mvn/wrapper/maven-wrapper.jar

#Logs
*.log

#OS files
.DS_Store
Thumbs.db

#H2 database files
*.mv.db
*.h2.db

#Temporary files
*.tmp
*.swp

#.env
.env
*.env